.header {
    width: 500px;
    height: 500px;
    background-color: aqua;
    margin: 0px auto;
}
    

.header__title {

    color: #black;
    text-align: center;
    text-decoration: underline;
}

.menu {
    width: 500px;
    height: 500px;
    background-color: brown;
}